*{
  margin: 0;
  padding: 0;
}
.principal{
  width: 100%;
  height: 100vh;
  display: flex;
}
.anuncio{
  width: 10%;
  height: 100%;
  background-color: rgb(0, 195, 255);
}
.editor{
  width: 80%;
  height: 100%;
}
canvas{
  border: 1px solid rgb(0, 195, 255);
  float: left;
  margin-right: 5%;
  margin-top: 5%;
}
.editores{
  width: 12%;
  padding: 15px 0.5%;
  height: 470px;
  background-color: rgb(252, 240, 204);
  float: left;
  margin-top: 5%;
  margin-left: 5%;
}
.bloco{
  width: 100%;
  display: flex;
  justify-content: center;
}
.editores-subs{
  float: left;
  margin-bottom: 8%;
  cursor: pointer;
}
.editores-subs i{
  margin-right: 4px;
}
.editores-subs2{
  margin-bottom: 8%;
  display: flex;
  width: 100%;
}
.editores-subs2 input[type="color"]{
  width: 60%;
}
.editores-subs2 input[type="number"]{
  width:20%;
  margin-left: 3%;
}

.objetos-blocos{
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  height: 192px;
  border: solid 1px rgb(197, 195, 195);
}
/* height: 30  */
.obj-blc{
  width: 33%;
  height: 16.5%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.obj-blc:hover{
  background-color: rgb(0, 204, 255);
}
.obj-blc.active{
  background-color: rgb(0, 204, 255);
}
.obj-blc img{
  width: 90%;
  height: 90%;
}

.objetos-blocos0{
  width: 80%;
  margin-left: 10%;
  margin-top: 15%;
  height: 70px;
  border: solid 1px rgb(197, 195, 195);
}
.objetos-blocos0 .obj-blc{
  height: 50%;
}


.config-cada-opc{
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  padding: 5% 0;
}